body{
    background-color: black;
    color: aliceblue;
}

div{
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
}


#contenedorCajas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: aqua;
}